<div class="navbar">
    <div class="navbar_title">
        <img class="navbar_title_logo" src="/public/assets/logo.svg" alt="" srcset="">
        <h1 class="navbar_title_text">devflask.com</h1>
    </div>
</div>