@font-face {
  font-family: "JetBrainsMono";
  src: url(../fonts/JetBrainsMono-Regular.ttf);
}
@font-face {
  font-family: "JetBrainsMono Bold";
  src: url(../fonts/JetBrainsMono-Bold.ttf);
}
* {
  margin: 0;
  font-family: "JetBrainsMono";
  color: #f8f8f8;
}

html {
  background-color: #161719;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  font-weight: 100;
  font-family: "JetBrainsMono Bold";
}

h1,
p {
  color: rgba(255, 255, 255, 0.6549019608);
}

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 0.5fr auto 0.5fr 1fr;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}
.navbar > * {
  display: grid;
  justify-content: start;
  align-items: center;
}
.navbar_title_container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.navbar_title_container_logo {
  width: 35px;
  margin-left: 10px;
  opacity: 0.8;
}
.navbar_title_container_text {
  font-size: 16px;
  margin: 0 15px;
}
.navbar_title_container_tooltip {
  font-size: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  align-items: center;
  position: relative;
  width: 0;
  top: 1px;
  left: 10px;
  opacity: 0;
  transition: opacity 200ms ease;
}
.navbar_title_container_tooltip p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  background-color: rgba(60, 64, 74, 0.4235294118);
  padding: 0 2px;
}
.navbar_title_container_tooltip p span {
  color: #ffe4c4;
}
.navbar_title_container_tooltip .arrow {
  position: absolute;
  font-size: 20px;
  right: 1px;
  color: rgba(60, 64, 74, 0.4235294118);
}
.navbar_title_container:hover .navbar_title_container_tooltip {
  opacity: 1;
}
.navbar_arraystart {
  justify-content: end;
}
.navbar_arraystart p, .navbar_arrayend p {
  color: rgba(54, 56, 61, 0.4784313725);
}
.navbar_arraystart_expand, .navbar_arrayend_expand {
  display: none;
}
.navbar_links {
  grid-template-columns: auto auto auto auto;
}
.navbar_links_item {
  display: grid;
  grid-template-columns: auto auto;
  padding: 6px 2px;
  cursor: pointer;
  margin: 0 5px;
}
.navbar_links_item_title span {
  color: rgba(255, 255, 255, 0.6549019608);
  transition: all 200ms ease;
}
.navbar_links_item_title span:hover {
  color: #f8f8f8;
}
.navbar_links_item .selected span {
  -webkit-text-decoration: underline rgb(204, 210, 241) 1.5px;
          text-decoration: underline rgb(204, 210, 241) 1.5px;
}
.navbar_profile {
  grid-template-columns: auto auto;
  justify-content: end;
  margin-right: 10px;
}
.navbar_profile_name {
  margin-right: 15px;
  cursor: pointer;
  transition: all 200ms ease;
}
.navbar_profile_name:hover {
  color: rgb(204, 241, 215);
  -webkit-text-decoration: underline rgb(204, 210, 241) 1.5px;
          text-decoration: underline rgb(204, 210, 241) 1.5px;
}
.navbar_profile_picture {
  width: 22px;
  height: 22px;
}/*# sourceMappingURL=styles.css.map */